{% extends 'base.html' %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'create_project' %}">Create A New Project</a>
            <br>
            <a href="{% url 'create_task' %}">Create A Task</a>
            <br>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not list_projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    {% endif %}
                </thead>
            </table>
            <tbody>
                {% for projects in list_projects %}
                    <tr>
                        <td>
                            <a href="{% url 'show_project' projects.id %}">{{ projects.name }}</a>
                        </td>
                        <td>{{ projects.tasks.name }}</td>
                        <td>{{ projects.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </main>
{% endblock content %}
